body{
    font-family: cursive, sans-serif;
    color: #000;
    background: #0581ca;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    min-width: 90vw;
}
#container{
    width: 360px;
    padding: 20px;
    box-shadow: 2px 2px 4px #fff;
    border-radius: 12px;
    background: #fff;
    padding: 2rem;
}
#container h2{
    text-align: center;
    color: #045;
}
#quoteContainer{
    width: 100%;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 150px;
    transition: all .4s;
}
#buttonContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#quoteButton{
    width: 200px;
    margin-top: 10px;
    border: 2px solid #0581ca;
    color: #045;
    font-family: inherit;
    font-weight: bold;
    padding: 5px;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
}
#quoteButton:hover{
    cursor: pointer;
    background: #0581ca;
    color: #fff;
}
#quoteButton:active{
    cursor: pointer;
}
#quoteButton{
    display: inline-block;
}
#quoteGenius{
    font-style: italic;
    font-weight: 600;
    text-align: center;
}
@media screen and (max-width: 760px){
    #quoteButton, #addNew{
        display: block;
    }
}
